$wrapperWidth : 1200px;
$wrapperInitialColumns : 4;
$wrapperColumnGap : 30px;
$cardWidth : 100%;
$borderRadius : 30px;
$repeatCol : 5;
$repeatRow : 5;
$bottomGap : 20px;
$transitionDuration : 0.5s;
$filterBlurEffect : 3px;
$filterOpacityEffect : 75%;
$zoomEffect : 1.5;